@import 'styles/variables';

.button {
  white-space: nowrap;
  letter-spacing: 0.07em;
  text-align: center;
  padding: 0.625em 1.25em;
  font-weight: 400;
  font-size: 1rem;
  background-color: $btn-bg-color;
  color: $secondary;
  border-radius: $btn-border-radius;
  transition: background-color ease-out 150ms;
  &:hover,
  &:active,
  &:focus {
    background-color: lighten($btn-bg-color, 10%);
    transition: background-color ease-in 150ms;
  }
}
