@import 'styles/variables';

.category {
  max-width: 500px;
  height: 280px;
  transition: border-color 1s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    border-color: $primary !important;
    will-change: border-color;
    img {
      transform: scale(1.2);
      transition: $image-transition-out;
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    transform-origin: center;
    will-change: transform;
    transition: $image-transition-in;
  }
}

.category__text {
  bottom: 0;
  background: $card-overlay;
}
