@import 'styles/variables';
.container {
  z-index: 10;
  background-color: $btn-bg-color;
  width: 15.063rem;
  right: 0;
  border: 1px solid $border-color;
  border-radius: $btn-border-radius;
  top: 115%;

  @media (max-width: 576px) {
    left: 0;
    right: unset;
  }
}
