@import 'styles/variables';

.imageContainer {
  border-radius: $btn-border-radius;
  max-height: 20rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
